<select name="country">
  <option value="US">United States</option>
  <option value="UK">United Kingdom</option>
  <option value="CA" selected>Canada</option>
  <optgroup label="Asia">
    <option value="JP">Japan</option>
    <option value="IN">India</option>
  </optgroup>
</select>
<hr>

<label for="my-combobox">Search cities:</label>
<input type="text" id="my-combobox" list="cities">
<datalist id="cities">
  <option value="Paris">Paris</option>
  <option value="Paris">Pola</option>
  <option value="Paris">Priza</option>
  <option value="Paris">Pinto</option>
  <option value="Paris">PLik</option>

  <option value="New York">New York</option>
  <option value="London">London</option>
</datalist>
<hr>
<labe class="text-white" for="my-combobox">Choose a color:</labe>
<select id="my-combobox">
  <option value="red">Red</option>
  <option value="blue">Blue</option>
  <option value="green">Green</option>
</select>
<input type="text" id="my-combobox-input" placeholder="Or enter your custom color">
