
<div class="container mx-auto mt-28 px-5 flex">

<table class="min-w-full leading-normal">
                        <thead>
                            <tr>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    ID
                                </th>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    Title
                                </th>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    Content
                                </th>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    Actions
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                      <% @articles.each do |article| %>
                      <tr>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <p class="text-gray-900 whitespace-no-wrap">
                                  
                                  <%= article.id %>
                                  </p>
                      </td>

                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <p class="text-gray-900 whitespace-no-wrap">
                                  
                                  <%= article.title %>
                                  </p>
                      </td>

                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <p class="text-gray-900 whitespace-no-wrap">
                                  <%= article.context %>
                                  
                                  </p>
                      </td>

                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <div class="flex flex-row gap-3">
                                  <%= link_to "View" , articles_show_path(article.id), class:"px-2 py-1 rounded-md bg-indigo-200 text-indigo-700 hover:opacity-80"%>
                                  
                                  </div>
                      </td>
                      </tr>
                      <% end %>
                        </tbody>

<table>

</div>